figure {
    float: right;
    margin-left: 1em;
}

img {
    width: 100px;
}

section {
    position: relative;
}

.supplementary {
    color: #9cc;
}

.missing {
    color: #c99;
}

.supplementary h3::after {
    content: " (supplementary)";
}

.missing h3::after {
    content: " (missing)";
}

figcaption::before {
    content: "refname: ";
}
