---
layout: page
title: Projects
---

<div class="post-content">

{% assign projects = "bsm;monoallelic-brain;gtex-copd;tests" | split: ';' %}

{% for project in projects %}

<article class="sub-article">
{% include projects/{{ project }}/description.html %}
<a href="{{ site.baseurl }}/categories/index.html" title="posts sorted by categories">
    Category:
</a>
<a class="category" href="{{ site.baseurl }}/categories/index.html#{{ project }}" title="posts in this category">
    {{ project }}
</a>
</article>

{% endfor %}

</div>
