<body>
    <h1>Articles by {{ page.sortkey }}</h1>
    {% case page.sortkey %}
    {% when 'categories' %}
    {% assign otherlabel = 'tags' %}
    {% assign otherhtml = 'index-tags.html' %}
    {% when 'tags' %}
    {% assign otherlabel = 'categories' %}
    {% assign otherhtml = 'index.html' %}
    {% endcase %}
    <a href="{{ otherhtml }}">
        <button style="margin-bottom: 2em;">arrange by {{ otherlabel }}</button>
    </a>
    <section class="container-with-menu">
        <ul>
            <li><a href="#" class="active">all {{ page.sortkey }}</a></li>
            {% for item in site.[{{page.sortkey}}] %}
            {% assign label = item[0] %}
            {% unless label == 'projects' %}
            <li><a href="#" class="{{ class }}">{{ label }}</a></li>
            {% endunless %}
            {% endfor %}
        </ul>
        <div class="panels">
            {% assign postsincategory = site.posts %}
            {% assign class = 'active-panel' %}

            {% case page.sortkey %}
            {% when 'categories' %}
            {% assign label = 'all categories' %}
            {% when 'tags' %}
            {% assign label = 'all tags' %}
            {% endcase %}

            {% include container-with-menu-article.html %}

            {% for item in site.[{{page.sortkey}}] %}
            {% assign label = item[0] %}
            {% unless label == 'projects' %}
            {% assign class = '' %}
            {% assign postsincategory = item[1] %}
            {% include container-with-menu-article.html %}
            {% endunless %}
            {% endfor %}
        </div>
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </section>
</body>

<script>
var tabs = document.querySelectorAll('.container-with-menu li a');
var panels = document.querySelectorAll('.container-with-menu article');
for(i = 0; i < tabs.length; i++) {
    var tab = tabs[i];
    setTabHandler(tab, i);
}
function setTabHandler(tab, tabPos) {
    tab.onclick = function() {
        for(i = 0; i < tabs.length; i++) {
            if(tabs[i].getAttribute('class')) {
                tabs[i].removeAttribute('class');
            }
        }
        tab.setAttribute('class', 'active');
        for(i = 0; i < panels.length; i++) {
            if(panels[i].getAttribute('class')) {
                panels[i].removeAttribute('class');
            }
        }
        panels[tabPos].setAttribute('class', 'active-panel');
    }
}
</script>
