<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
      </div>

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Attila Gulyás-Kovács</li>
          <li>[ɒtilɒ gujaːʃ kovaːt͡ʃ]</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="http://www.attilagk.com/">www.attilagk.com</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
              <a href="https://www.linkedin.com/in/attilagk">
                  <i class="fa fa-linkedin-square fa-2x"></i> LinkedIn</a>
          </li>
          <li>
              <a href="https://github.com/attilagk">
                  <i class="fa fa-github-square fa-2x"></i> GitHub</a>
          </li>
          <li>
              <a href="https://scholar.google.com/citations?user=52iJqFMAAAAJ&hl=en&oi=ao">
                  <i class="ai ai-google-scholar-square ai-2x"></i> Google Scholar</a>
          </li>
          <li>
              <a href="https://www.researchgate.net/profile/Attila_Gulyas-Kovacs">
                  <i class="ai ai-researchgate-square ai-2x"></i> ResearchGate</a>
          </li>
          <li>
              <a href="https://www.mendeley.com/profiles/attila-gulyas-kovacs/">
                  <i class="ai ai-mendeley-square ai-2x"></i> Mendeley</a>
          </li>
        </ul>
      </div>

    </div>

  </div>

</footer>
