<!-- this article element represents the abstract of a post: the featured
    image (if exists) and the post excerpt -->
<article class="{{ class }}">
    <h2>
        <!-- the selected category or tag -->
        {{ label }}
    </h2>
    <div class="outer-container">
        <!-- for each post within that catetory or for that tag... -->
        {% for post in postsincategory %}
        <!-- the inner-container will be anchored to the post's url -->
        <a class="inner-container" href="{{ post.url | prepend: site.baseurl }}" style="">
            <!-- post's title, date -->
            <h3 class="post-title"> {{ post.title }} </h3>
            <p>{{ post.date | date: "%b %d, %Y" }}</p>
            <!-- inner-container-2 is styled so that post's featured image and excerpt are overlaid -->
            <div class="inner-container-2">
                <!-- post's featured image -->
                {% capture exc %}
                    <p>{{ post.excerpt | strip_html }}</p>
                {% endcapture %}
                {% if post.featimg %}
                <img src="{{ site.baseurl }}/{{ post.categories |
                join: '/' }}/R{{ post.url | remove: '.html'
                }}/figure/{{ post.featimg }}" alt="{{ post.excerpt | strip_html }}">
                <div class="infosign">
                    <i class="fa fa-info-circle fa-2x"></i>
                </div>
                <div class="excerpt">
                    {{ exc }}
                </div>
                {% else %}
                    {{ exc }}
                {% endif %}
                <!-- post's excerpt -->
            </div>
        </a>
        {% endfor %}
    </div>
</article>

