<body>
    <section class="page-header">
        <h1 class="project-name">{{ site.title }}</h1>
        <h2 class="project-tagline">{{ site.description }}</h2>
        <a href="https://github.com/attilagk/monoallelic-brain-notebook" class="btn">View on GitHub</a>
        <h2>Hover over an <i class="fa fa-info-circle fa-1x"></i> to reveal abstract.  Click to open article.</h2>
    </section>
    {% case page.sortkey %}
    {% when 'categories' %}
    <!-- otherlabel will be used to switch between tags and categories -->
    <!-- otherhtml will be included upon that switch -->
    {% assign otherhtml = 'index-tags.html' %}
    {% when 'tags' %}
    {% assign otherlabel = 'categories' %}
    {% assign otherhtml = 'index-tags.html' %}
    {% endcase %}
    <section class="container-with-menu">
        <!-- panels: each corresponds to a label; panels are overlaid on each other -->
        <div class="panels">
            <!-- active panel is the one with all articles -->
            {% assign postsincategory = site.posts %}
            {% assign class = 'active-panel' %}
            <!-- include first html corresponding to active panel-->
            {% include index-article.html %}
            <!-- for each label -->
            {% for item in site.[{{page.sortkey}}] %}
            <!-- store label in 'label' variable -->
            {% assign label = item[0] %}
            {% unless label == 'projects' %}
            {% assign class = '' %}
            <!-- store articles for that label in 'postsincategory' variable -->
            {% assign postsincategory = item[1] %}
            <!-- include again -->
            {% include index-article.html %}
            {% endunless %}
            {% endfor %}
        </div>
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </section>
</body>

<script>
//script taken from https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Practical_positioning_examples
var tabs = document.querySelectorAll('.container-with-menu li a');
var panels = document.querySelectorAll('.container-with-menu article');
for(i = 0; i < tabs.length; i++) {
    var tab = tabs[i];
    setTabHandler(tab, i);
}
function setTabHandler(tab, tabPos) {
    tab.onclick = function() {
        for(i = 0; i < tabs.length; i++) {
            if(tabs[i].getAttribute('class')) {
                tabs[i].removeAttribute('class');
            }
        }
        tab.setAttribute('class', 'active');
        for(i = 0; i < panels.length; i++) {
            if(panels[i].getAttribute('class')) {
                panels[i].removeAttribute('class');
            }
        }
        panels[tabPos].setAttribute('class', 'active-panel');
    }
}
</script>
