<header class="post-header">
    <!-- <h1 class="post-title" itemprop="name headline">Posts by {{ page.sortkey |
        capitalize }}</h1> -->
</header>

<div class="post-content">

    {% for item in site.[{{page.sortkey}}] %}
    {% assign t = item | first %}
    {% unless t == "projects" %}
    {% assign t = item | first %}
    {% assign posts = item | last %}
    <h1 id="{{ t }}"> {{ t }} </h1>
    {% for post in posts %}
    {% if post.[{{page.sortkey}}] contains t %}

    {% include post-list-item.html %}

    {% endif %}
    {% endfor %}
    {% endunless %}
    {% endfor %}

</div>
