    <ul class="post-list">
        <li>
            <a class="post-link" href="{{ site.baseurl }}{{ post.url }}"> {{ post.title }} </a>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <ul>
                {% for category in post.categories %}
                <li class="category">
                    <a href="{{ site.baseurl }}/categories/index.html#{{ category }}" title="posts in this category"> {{ category }}</a>
                </li>
                {% endfor %}
                {% for tag in post.tags %}
                <li class="tag">
                    <a href="{{ site.baseurl }}/tags/index.html#{{ tag }}" title="posts with this tag"> {{ tag }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
