.paging-button-next, .paging-button-prev {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 50%;
}

.paging-button-prev {
    text-align: left;
    float: left;
}

.paging-button-next {
    float: right;
    text-align: right;
}
