<h2 id="som-mosaic-scz">Somatic Mosaicism and Schizophrenia</h2>
<p>
    Some questions
    <ul>
        <li>natural selection on somatic variants (or sites) compared to that on the
            corresponding germline variants (or sites)</li>
        <ul>
            <li>dependence on allelic fraction; hypothesis: inverse
                relationship between strength of negative selection and
                allelic fraction</li>
        </ul>
    </ul>
</p>
<p>
    Prioritization of variants
    <ul>
        <li>association to SCZ and to phenotypes related to SCZ from previous
        work</li>
        <li>allelic fraction</li>
        <li>predicted functional effect</li>
        <li>selective pressure</li>
        <li>site/gene association to any (Mendelian) disease</li>
    </ul>
</p>
